*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Sublime Text
*.sublime-workspace

# Scala IDE
.scala_dependencies
.worksheet

# IntelliJ
.idea/
